In [468]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from selenium import webdriver
import pymongo
import pandas as pd

In [469]:
conn='mongodb://localhost:27017'
client=pymongo.MongoClient(conn)

In [470]:
db = client.mars_db
collection = db.items

In [471]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [472]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [473]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [474]:
news_title = soup.find('div', class_='content_title').text
news_title

"The Mast Is Raised for NASA's Mars 2020 Rover"

In [475]:
news_p=soup.find('div', class_='article_teaser_body').text
news_p

'Engineers at JPL take a group selfie after attaching the remote sensing mast to the Mars 2020 rover.'

In [476]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [477]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [478]:
image=soup.find('article', class_='carousel_item').get('style')
image

"background-image: url('/spaceimages/images/wallpaper/PIA18297-1920x1200.jpg');"

In [479]:
featured_image_url ='https://www.jpl.nasa.gov'+ '/spaceimages/images/wallpaper/PIA15254-1920x1200.jpg'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA15254-1920x1200.jpg'

In [480]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [481]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [484]:
soup.body.find_all('p')[3].text

'InSight sol 197 (2019-06-16) low -105.2ºC (-157.4ºF) high -23.3ºC (-9.9ºF)\nwinds from the SSE at 4.1 m/s (9.2 mph) gusting to 15.9 m/s (35.6 mph)\npressure at 7.60 hPapic.twitter.com/FslJFt8muB'

In [485]:
mars_weather=soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').get_text()

mars_weather

'InSight sol 197 (2019-06-16) low -105.2ºC (-157.4ºF) high -23.3ºC (-9.9ºF)\nwinds from the SSE at 4.1 m/s (9.2 mph) gusting to 15.9 m/s (35.6 mph)\npressure at 7.60 hPapic.twitter.com/FslJFt8muB'

In [486]:
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [487]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [488]:
space_facts=soup.find('table', class_='tablepress tablepress-id-mars').text
space_facts.replace('\n', '')

'Equatorial Diameter:6,792 kmPolar Diameter:6,752 kmMass:6.42 x 10^23 kg (10.7% Earth)Moons:2 (Phobos & Deimos)Orbit Distance:227,943,824 km (1.52 AU)Orbit Period:687 days (1.9 years)Surface Temperature: -153 to 20 °CFirst Record:2nd millennium BCRecorded By:Egyptian astronomers'

In [494]:
tables = pd.read_html(url)[0]
tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [496]:
tables.columns=["description","values"]
tables.set_index("description", inplace=True)
tables

                                             values
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [497]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [498]:
Dicts=[tables]
Dicts

[                                             values
 description
 Equatorial Diameter:                       6,792 km
 Polar Diameter:                            6,752 km
 Mass:                 6.42 x 10^23 kg (10.7% Earth)
 Moons:                          2 (Phobos & Deimos)
 Orbit Distance:            227,943,824 km (1.52 AU)
 Orbit Period:                  687 days (1.9 years)
 Surface Temperature:                  -153 to 20 °C
 First Record:                     2nd millennium BC
 Recorded By:                   Egyptian astronomers]

In [404]:
Dicts={'Equatorial Diameter':'6,792 km',
      'Polar Diameter': '6,752 km',
      'Mass':'6.42 x 10^23 kg (10.7% Earth)',
      'Moons':'2 (Phobos & Deimos)',
      'Orbit Distance':'227,943,824 km (1.52 AU)',
      'Orbit Period':'687 days (1.9 years)',
      'Surface Temperature':'-153 to 20 °C',
      'First Record':'2nd millennium BC',
      'Recorded By':'Egyptian astronomers'}

df=pd.DataFrame.from_dict(Dicts, orient='index')
df.columns=["values"]
# df.set_index("description", inplace=True)
df

                                            values
Equatorial Diameter                       6,792 km
Polar Diameter                            6,752 km
Mass                 6.42 x 10^23 kg (10.7% Earth)
Moons                          2 (Phobos & Deimos)
Orbit Distance            227,943,824 km (1.52 AU)
Orbit Period                  687 days (1.9 years)
Surface Temperature                  -153 to 20 °C
First Record                     2nd millennium BC
Recorded By                   Egyptian astronomers

In [499]:
html_table = tables.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>values</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [500]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>values</th>    </tr>    <tr>      <th>description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [501]:
tables.to_html('table.html')

In [350]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [351]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [352]:
mainhemisphereurl='https://astrogeology.usgs.gov'

In [353]:
links=soup.find_all('a', class_="itemLink product-item")

In [354]:
listoflinks=[]
for link in links:
    listoflinks.append(link['href'])
    print(link['href'])

/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced

In [355]:
cereberusurl=mainhemisphereurl+listoflinks[0]
schiaparelliurl=mainhemisphereurl+listoflinks[2]
syrtisurl=mainhemisphereurl+listoflinks[4]
vallesurl=mainhemisphereurl+listoflinks[6]

In [356]:
browser.visit(cereberusurl)

In [357]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [358]:
cerberusimage=soup.find('img', class_='wide-image').get('src')
print(cerberusimage)

/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

In [359]:
cerberusimglink=mainhemisphereurl+cerberusimage
cerberusimglink

'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'

In [360]:
browser.visit(schiaparelliurl)

In [361]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [362]:
schiaparelliimage=soup.find('img', class_='wide-image').get('src')
print(schiaparelliimage)

/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg

In [363]:
schiaparelliimglink=mainhemisphereurl+schiaparelliimage
schiaparelliimglink

'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'

In [364]:
browser.visit(syrtisurl)

In [365]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [366]:
syrtisimage=soup.find('img', class_='wide-image').get('src')
print(syrtisimage)

/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg

In [367]:
syrtisimglink=mainhemisphereurl+syrtisimage
syrtisimglink

'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'

In [368]:
browser.visit(vallesurl)

In [369]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [370]:
vallesimage=soup.find('img', class_='wide-image').get('src')
print(vallesimage)

/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [371]:
vallesimglink=mainhemisphereurl+vallesimage
vallesimglink

'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'

In [372]:
all_h=soup.body.find_all('h3')
for h in all_h:
    print(h.text)

Download
Related Products
Valles Marineris Hemisphere Unenhanced
Syrtis Major Hemisphere Unenhanced
Syrtis Major Hemisphere Enhanced
Schiaparelli Hemisphere Unenhanced
Schiaparelli Hemisphere Enhanced

In [373]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg"},
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg"},
]